.root-content-area {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: var(--background-color);

  padding: 2.125em 1.5em 4.75em;

  box-sizing: border-box !important;
}

.root-content-area div:nth-child(1) {
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.content-area form {
  margin-top: 3.5em;
  background-color: white;
  border-radius: 16px;
  margin: 0 auto;
  box-sizing: border-box;

  background-color: var(--white);
  position: relative;
  padding: 2.75em 1.5em 1.5em;

  max-width: 500px;
  height: max-content;

  position: relative;
}

.content-area div {
  margin-bottom: 50px;
}

.content-area form h1 {
  font-size: 1.125em;
  color: var(--dark-blue);
  letter-spacing: -0.25px;
}

.content-area form fieldset {
  border: none;
  position: relative;

  margin-bottom: 15px;
}

.content-area form fieldset label {
  font-size: 0.8125em;
  color: var(--dark-blue);
  letter-spacing: -0.18px;
  font-weight: bold;
  margin-bottom: 3px;
}

.content-area form fieldset p {
  font-size: 0.8125em;
  color: var(--grayish-blue);
  font-weight: 500;
  letter-spacing: 0px;
  margin-bottom: 1.23em;
}

.content-area form .select-category {
  z-index: 2;
  position: relative;
}

.content-area form .select-category img {
  position: absolute;
  right: 2%;
  bottom: 15%;
  width: 11px;
  z-index: 2;
}

.buttons-actions {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .buttons-actions {
    flex-direction: row-reverse;
    justify-content: flex-start;
  }

  .buttons-actions button {
    width: max-content !important;
    padding: 1rem;
    margin-left: 10px;
  }
}

.buttons-actions button:nth-child(1):hover {
  background-color: rgb(199, 90, 246);
}

.buttons-actions button:nth-child(2):hover {
  background-color: rgb(101, 110, 163);
}

.icon-top {
  position: absolute;
  top: -16px;
}

.icon-top img {
  width: 32px;
}
