:root {
    --background-color: #f7f8fd;
    --light-gray: #f2f4ff;
    --white: #fff;
    --dark-blue: #3a4374;
    --very-dark-blue: #4661e6;
    --grayish-blue: #647196;
    --light-blue: #4661e6;
    --very-light-blue: #62bcfa;
    --navbar-color: #373f68;
    --purple-color: #ad1fea;
    --planned-color: #f49f85;
    --red-color: #d73737;    
  }
  
  body, html, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
  }

  #app{
   
    min-height: 100vh;

  }